*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; list-style: none; text-decoration: none;}

.home{
    display: flex;
    margin-top: 30px;
}

.homeSection{
    // border:2px solid #000 ;
    width:50%;
    position: relative;
    left: 250px;
    bottom: 120px;
}


.imageSection img{
    width: 500px;
    height: 350px;
}

.userBox{
    position: relative;
    left: 300px;
    bottom:120px
}
 
.userImage img{
    width: 350px;
    height: 280px;
   
}

.cardBtn{
    margin: 35px;
    padding: 15px 35px ;
    background-color: #0D75BF;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
}

.cardBtn:hover{
    background-color: #084672;
}

//button form data
.myButton{
    padding: 5px 20px;
    background-color: #0D75BF;
    margin-left: 10px;
    color: #fff;
    border-radius: 7px;
}
.myButton:hover{
    background-color:#084672;
}
.myForm input{
    height: 30px;
    
}
.myForm{
    text-align: center;
}
.attList{
    text-align: center;
}

.myListButton{
    padding: 5px 20px;
    background-color: #D43545;
    color: #fff;
    margin-left: 15px;
    border-radius: 7px;
}

.myListButton:hover{
    background-color: #97202C;
}

.myList{
    margin: 15px;
}


//navbar
.navbar{
   
    position: relative;
    width: 20%;
    top: 100px;
}

.navbarMenu li{
    margin: 25px;
    font-size: 20px;
}


//responsive

@media (max-width:1100px){
//     .home{
//         border: 2px solid red;
//         display: flex;
//         flex-direction: column;
//     }
// .userBox{
//     position: relative;
//     left: 50px;
//     bottom:120px
// }

}